### Code along - PANDAS

In [3]:
import pandas as pd 

df = pd.read_csv("data/calories.csv")
df.head()

,FoodCategory,FoodItem,per100grams,Cals_per100grams,KJ_per100grams
0,CannedFruit,Applesauce,100g,62 cal,260 kJ
1,CannedFruit,Canned Apricots,100g,48 cal,202 kJ
2,CannedFruit,Canned Blackberries,100g,92 cal,386 kJ
3,CannedFruit,Canned Blueberries,100g,88 cal,370 kJ
4,CannedFruit,Canned Cherries,100g,54 cal,227 kJ

In [5]:
df.head(3)

,FoodCategory,FoodItem,per100grams,Cals_per100grams,KJ_per100grams
0,CannedFruit,Applesauce,100g,62 cal,260 kJ
1,CannedFruit,Canned Apricots,100g,48 cal,202 kJ
2,CannedFruit,Canned Blackberries,100g,92 cal,386 kJ

In [6]:
df.tail(3) #view from bottom

     FoodCategory         FoodItem per100grams Cals_per100grams KJ_per100grams
2222      Spreads  Unsalted Butter        100g          717 cal        3011 kJ
2223      Spreads         Vegemite        100g          180 cal         756 kJ
2224      Spreads       Wild Honey        100g          286 cal        1201 kJ

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2225 entries, 0 to 2224
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   FoodCategory      2225 non-null   object
 1   FoodItem          2225 non-null   object
 2   per100grams       2225 non-null   object
 3   Cals_per100grams  2225 non-null   object
 4   KJ_per100grams    2225 non-null   object
dtypes: object(5)
memory usage: 87.0+ KB

In [8]:
df.describe() #summery statistics

,FoodCategory,FoodItem,per100grams,Cals_per100grams,KJ_per100grams
count,2225,2225,2225,2225,2225
unique,44,1993,2,524,524
top,BakingIngredients,Roast Beef,100g,100 cal,420 kJ
freq,95,4,1802,26,26

In [10]:
df.columns

Index(['FoodCategory', 'FoodItem', 'per100grams', 'Cals_per100grams',
       'KJ_per100grams'],
      dtype='object')

In [ ]:
df["FoodCategory"].unique()

In [ ]:
df["FoodCategory"].value_counts()

In [15]:
df["per100grams"].value_counts()

per100grams
100g     1802
100ml     423
Name: count, dtype: int64

## Data cleaning

In [19]:
df.columns

Index(['FoodCategory', 'FoodItem', 'per100grams', 'Cals_per100grams',
       'KJ_per100grams'],
      dtype='object')

In [67]:
df_cleaned_names = df.rename(
    {"Cals_per100grams": "Calories", "KJ_per100grams": "kJ", "per100grams": "per100"}, 
    axis=1,
    )

df_cleaned_names.head()

  FoodCategory             FoodItem per100 Calories      kJ
0  CannedFruit           Applesauce   100g   62 cal  260 kJ
1  CannedFruit      Canned Apricots   100g   48 cal  202 kJ
2  CannedFruit  Canned Blackberries   100g   92 cal  386 kJ
3  CannedFruit   Canned Blueberries   100g   88 cal  370 kJ
4  CannedFruit      Canned Cherries   100g   54 cal  227 kJ

In [66]:
df_cleaned_names["Calories"].str[:-3].astype(int)#astype int byter från object till int
df_cleaned_names.head()

  FoodCategory             FoodItem per100 Calories      kJ
0  CannedFruit           Applesauce   100g   62 cal  260 kJ
1  CannedFruit      Canned Apricots   100g   48 cal  202 kJ
2  CannedFruit  Canned Blackberries   100g   92 cal  386 kJ
3  CannedFruit   Canned Blueberries   100g   88 cal  370 kJ
4  CannedFruit      Canned Cherries   100g   54 cal  227 kJ

**loopa helst inte i dataframes då det är långsamt, använd istället pandas metoder. Pandas metoder optimerar vektorisering som kommer från numpy(pandas bygger på numpy)**

In [34]:
#This is a boolean mask
df_cleaned_names["per100"] == "100ml"

0       False
1       False
2       False
3       False
4       False
        ...
2220    False
2221    False
2222    False
2223    False
2224    False
Name: per100, Length: 2225, dtype: bool

In [36]:
df_liquids = df_cleaned_names[df_cleaned_names["per100"] == "100ml"]
df_liquids.head()

           FoodCategory       FoodItem per100 Calories      kJ
409  Milk&DairyProducts    Almond Milk  100ml   17 cal   71 kJ
410  Milk&DairyProducts     Buttermilk  100ml   62 cal  260 kJ
412  Milk&DairyProducts   Coconut Milk  100ml  230 cal  966 kJ
422  Milk&DairyProducts  Hot Chocolate  100ml   89 cal  374 kJ
423  Milk&DairyProducts          Kefir  100ml   55 cal  231 kJ

In [42]:
df_solids = df_cleaned_names.query("per100 == '100g'")
df_solids.head()

  FoodCategory             FoodItem per100 Calories      kJ
0  CannedFruit           Applesauce   100g   62 cal  260 kJ
1  CannedFruit      Canned Apricots   100g   48 cal  202 kJ
2  CannedFruit  Canned Blackberries   100g   92 cal  386 kJ
3  CannedFruit   Canned Blueberries   100g   88 cal  370 kJ
4  CannedFruit      Canned Cherries   100g   54 cal  227 kJ

### Find top 5 categories of highest categories

In [53]:
df_solids_sorted = df_solids.sort_values(by = "Calories", ascending=False)
df_solids_top5 = df_solids.iloc[:5]
df_solids_top5

  FoodCategory             FoodItem per100 Calories      kJ
0  CannedFruit           Applesauce   100g   62 cal  260 kJ
1  CannedFruit      Canned Apricots   100g   48 cal  202 kJ
2  CannedFruit  Canned Blackberries   100g   92 cal  386 kJ
3  CannedFruit   Canned Blueberries   100g   88 cal  370 kJ
4  CannedFruit      Canned Cherries   100g   54 cal  227 kJ

In [77]:
df_liquids_top5 = df_liquids.sort_values(by = "Calories", ascending=False).head()
df_liquids_top5

                       FoodCategory        FoodItem per100 Calories       kJ
1123      AlcoholicDrinks&Beverages         Sangria  100ml   96 cal   403 kJ
1233  Non-AlcoholicDrinks&Beverages       Egg Cream  100ml   94 cal   395 kJ
1808                  VegetableOils  Wheat Germ Oil  100ml  929 cal  3902 kJ
1800                  VegetableOils      Salmon Oil  100ml  911 cal  3826 kJ
1789                  VegetableOils    Menhaden Oil  100ml  911 cal  3826 kJ

In [ ]:
df_top5_categories = df_cleaned_names.groupby("FoodCategory")["calories"].median().sort_values(
    ascending=False
).reset_index().head()

df_top5_categories

**SQL version**

In [ ]:
query = '''
SELECT
    foodcategory,
    MEDIAN(calories) AS median_calories
FROM df_cleaned_names
GROUP BY 
    foodcategory
ORDER BY 
    median_calories 
DESC
LIMIT 
    5;

'''

print(query)

### import duckDB

In [84]:
import duckdb

duckdb.query(query)

┌───────────────┬─────────────────┐
│ FoodCategory  │ median_calories │
│    varchar    │     varchar     │
├───────────────┼─────────────────┤
│ VegetableOils │ 884 cal         │
│ Oils&Fats     │ 882 cal         │
│ Wine          │ 80 cal          │
│ CannedFruit   │ 61 cal          │
│ Nuts&Seeds    │ 562 cal         │
└───────────────┴─────────────────┘

In [ ]:
top5_category = duckdb.query(query).df()
top5_category

In [88]:
top5_category.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   FoodCategory     5 non-null      object
 1   median_calories  5 non-null      object
dtypes: object(2)
memory usage: 212.0+ bytes