# Pandas repetition

## 0.Working with national test data

### **a)** Start with reading in the file riket2023_åk9_np.xlsx and the sheets for the different subjects.

In [119]:
#läser in från excel i datamappen
import pandas as pd

# Define the file path to the Excel file containing the data.
# This is the file that will be processed later in the code.
national_test_file_path = "data/riket2023_åk9_np.xlsx"

# Read the Excel file to get a list of all sheet names in the file.
# `pd.ExcelFile()` creates an object that allows you to interact with the Excel file.
# `.sheet_names` extracts the names of all the sheets in the file as a list.
sheet_names = pd.ExcelFile(national_test_file_path).sheet_names


# Initialize an empty dictionary to store dataframes.
df_dict = {}

# Loop through all the sheet names in the variable `sheet_names` except the last one.
for sheet_name in sheet_names[:-1]:
    # For each sheet name, read the corresponding Excel sheet from the file.
    # `national_test_file_path` is the path to the Excel file.
    # `skiprows=8` tells pandas to skip the first 8 rows of the sheet (possibly to skip headers or metadata).
    # `sheet_name=sheet_name` specifies which sheet in the Excel file to read.
    df_dict[sheet_name] = pd.read_excel(
        national_test_file_path, skiprows=8, sheet_name=sheet_name
    )

# Get and display the keys (sheet names) in the dictionary `df_dict`.
# This confirms that the dataframes were successfully added to the dictionary.
df_dict.keys()

dict_keys(['Engelska', 'Matematik', 'Svenska', 'Svenska som andraspråk'])

In [120]:
df_dict["Matematik"]

,Riket,Typ av huvudman,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar
0,Riket,Samtliga,106766,51548,55218,89.1,88.7,89.5,11.9,11.8,12.0
1,Riket,Kommunal,84163,40386,43777,88.1,87.7,88.5,11.6,11.5,11.7
2,Riket,Enskild,22553,11137,11416,92.9,92.2,93.5,13.0,12.8,13.1
3,Riket,Skolverket,50,25,25,~100,~100,~100,14.1,13.5,14.7

In [121]:
# Create a list of all the keys (sheet names/excel sheet) from the dictionary `df_dict`.
# `df_dict.keys()` returns a view of the dictionary's keys, which are the sheet names.
# `list()` converts this view into a standard Python list.
subjects = list(df_dict.keys())
subjects

['Engelska', 'Matematik', 'Svenska', 'Svenska som andraspråk']

 ### **b)** change name of columns

In [122]:
#visar alla columner i sheet Engelska 
df_dict["Engelska"].columns

Index(['Riket', 'Typ av huvudman', 'Totalt', 'Flickor', 'Pojkar', 'Totalt ',
       'Flickor ', 'Pojkar ', 'Totalt  ', 'Flickor  ', 'Pojkar  '],
      dtype='object')

In [123]:
import numpy as np

postfixes = [""]*2 + [" (A-F)"]*3 + [(" poäng")]*3 + [(" A-E")]*3
np.array(postfixes)

array(['', '', ' (A-F)', ' (A-F)', ' (A-F)', ' poäng', ' poäng', ' poäng',
       ' A-E', ' A-E', ' A-E'], dtype='<U6')

In [124]:
#concatinera listorna postfixes och df_dict 
np.array(postfixes) + df_dict["Engelska"].columns

Index(['Riket', 'Typ av huvudman', ' (A-F)Totalt', ' (A-F)Flickor',
       ' (A-F)Pojkar', ' poängTotalt ', ' poängFlickor ', ' poängPojkar ',
       ' A-ETotalt  ', ' A-EFlickor  ', ' A-EPojkar  '],
      dtype='object')

In [125]:
#outputen efter övre input visar oordning, extra mellanslag etc, 
# därför vill vi finslipa med hjälp av strip etc
df_dict["Engelska"].columns.str.strip() + np.array(postfixes)

Index(['Riket', 'Typ av huvudman', 'Totalt (A-F)', 'Flickor (A-F)',
       'Pojkar (A-F)', 'Totalt poäng', 'Flickor poäng', 'Pojkar poäng',
       'Totalt A-E', 'Flickor A-E', 'Pojkar A-E'],
      dtype='object')

**NEW column names**

In [136]:
from copy import deepcopy #copy har fortfarande referenser kvar från minnesadressen. Deepcopy är en helt ny minnesadress

#behöver skapa en deep kopia av det förra dict eftersom de ändrade titlarna staplas varje gång programmet körs
df_dict_cleaned = deepcopy(df_dict)

for subject in subjects:
    new_columns = df_dict_cleaned[subject].columns.str.strip() + np.array(postfixes)
    
    df_dict_cleaned[subject].columns = new_columns
    df_dict_cleaned[subject] = df_dict_cleaned[subject].rename( # Rename the columns of the DataFrame for a specific subject
        {"Riket": "Plats", "Typ av huvudman": "Huvudman: "}, axis=1 # Rename "Riket: " to "Nation"//axis=1 means columns, axis=0 means rows
        )

df_dict_cleaned["Matematik"]

,Plats,Huvudman:,Totalt (A-F),Flickor (A-F),Pojkar (A-F),Totalt poäng,Flickor poäng,Pojkar poäng,Totalt A-E,Flickor A-E,Pojkar A-E
0,Riket,Samtliga,93225,45800,47425,96.1,97.9,94.4,13.6,14.5,12.7
1,Riket,Kommunal,72771,35484,37287,95.7,97.6,93.8,13.3,14.3,12.4
2,Riket,Enskild,20414,10297,10117,97.6,98.7,96.6,14.4,15.2,13.5
3,Riket,Skolverket,40,19,21,100.0,100.0,100.0,15.0,15.9,14.2